@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --gree: #07cb79;
  --he: #3d4451;
  --ti: #c0e8d7;
  --cb: #f5f4f2;
}
html,
body {
  font-size: 52.5px;
  background: rgb(238, 236, 232); /* fallback for old browsers */

  /* height: 100vh; */
  scroll-behavior: smooth;
}
p {
  font-size: 20px;
}
/*Nav Bar Styling*/
div.top-header {
  display: flex;
  flex-direction: row;
  height: 3%;
  width: 100%;
  /* padding:5px; */
  justify-content: flex-end;
  align-items: center;
  /* font-size:10vw; */
  position: fixed;
  z-index: 3;
  background: white;
}
div.nav-container {
  padding: 3px;
  text-align: right;
  margin: 10px;
}
/* Creating space between divs in top header */

/* ----- */
div.nav-container > a {
  color: #737881;
  font-size: 40%;
  font-weight: 500;
  text-decoration: none;
  font-family: "Lato", monospace;
  /* margin-right:%; */
}

.on-mouseover {
  visibility: hidden;
  width: 0%;
  background: #07cb79;
  height: 2px;
  transition: width 0.5s, height 1s;
}
a:hover + div.on-mouseover {
  visibility: visible;
  width: 100%;
  height: 2px;
}

div.cv-button {
  margin: auto;
  height: 10%;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*Intro Flex-box*/

.intro {
  height: 100vh;
  padding: 30px;
}

.highlights {
  /* background-color: rgb(170, 202, 233)
  border-radius: 5%;
  /* box-shadow: 0px 10px 20px rgb(198, 224, 241); */
  display: grid;
  grid-template-columns: 200px 1fr 1fr 2fr;
  grid-template-rows: 1fr 80px;
  height: 90%;
  width: 70%;
  border-radius: 30%;
  margin: auto;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.yoloo {
  font-size: 30%;
  background-color: var(--gree);
  color: white;
  width: 10%;
  text-align: center;
}

img {
  grid-column: 1/3;
  /* background:rgb(172, 206, 240); */
  height: 90%;
  width: 90%;
  border-radius: 1%;
}

.details {
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
}
.about > h1 {
  font-size: 60px;
  color: #3d4451;
}
.about {
  margin-top: 8vh;
}
.about p {
  font-size: 1.5vw;
}
table{
  width:100%;
}
th,
td {
  font-size: 15px;
}

td {
  color: #a5a8ae;
}

.botcon {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
  background-color: var(--gree);
}
.botcon a {
  text-decoration: none;
  color: none;
}
.botcon i,
.botcon div {
  font-size: 3vw;
  /* border-radius: 1000%; */
  color: white;
}
.botcon > div {
  margin-top: 10px;
}
.botcon i:hover {
  color: rgb(136, 58, 48);
  /* box-shadow:0px 10px 20px rgb(10, 10, 41); */
}

.cv {
  margin: auto;
  height: 30%;
  width: 30%;
  font-size: 20px;
  text-align: center;
}
.cv a {
  height: 100%;
  text-decoration: none;
  color: var(--he);
  font-size: 7px;
}
button {
  height: 100%;
  width: 50%;
  line-height: 50px;
  border: 1px solid rgb(194, 189, 189);
  border-radius: 5px;
}
button:hover {
  box-shadow: 0px 10px 10px rgb(153, 148, 148);
}
div.abut {
  position: relative;
  margin-top: 500px;
  margin: auto;
  width: 60%;
  text-align: center;
}
/* Skills */
.skills {
  height: 100vh;
  /* border:2px solid black; */
}
.ski-box {
  margin: auto;
  height: 50%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  /* border:2px solid black; */
  background: #f5f4f2;
  justify-content: center;
}
/*1st skill */
div.progress-bar {
  /* background:black; */
  height: 10px;
  width: 80%;
  background: var(--ti);
}
div.right-grid {
  margin-left: 50px;
}
div.progress {
  background: var(--gree);
  height: 100%;
  width: 60%;
}
div.py h6 {
  display: inline-block;
  font-size: 20px;
  color: var(--he);
}
h4.ps {
  text-align: center;
  color: var(--he);
  font-size: 40px;
}
h2 {
  text-align: center;
  color: var(--he);
  font-size: 30px;
}

.timeline h2 {
  color: var(--gree);
}

/* SKill end */
/* ----------------------------------------Photo--------GRid */

/* Photo-grid END------ */
/* TimeLine */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 50vh;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--ti);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  font-size: 20px;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -7px;
  background-color: var(--gree);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -9px;
}
.time-top-band {
  background: var(--gree);
  height: 4px;
  width: 100%;
}
.time-top-band + h2 {
  font-size: 15px;
  text-align: center;
}
/* The actual content */
.content {
  /* padding: 20px 30px; */
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/*Props*/
.projects {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
.pros {
  margin-top: 10vh;
  height: 60%;
  width: 100%;
}
.pros img {
  border-radius: 10%;
}
.pros h3 {
  text-align: center;
  color: #eff6f1;
  font-size: 2vw;
}
.Sleep {
  color: #efeff5;
  font-size: 3vw;
}
/* Fade Animation */
/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* margin-top:px; */
  /* height: vh; */
  background: var(--cb);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  margin-top: 20px;
  padding: 16px;
  color: var(--he);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: 1px solid var(--he);
}

/* Position the "next button" to the right */
.next,
.prev {
  right: 0;
  border-radius: 1px 0 0 1px;
}
.prev {
  right: 0;
  top: 1px;
  border-radius: 1px 0 0 1px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  box-shadow: 0px 10px 20px gray;
}

/* The dots/bullets/indicators */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.Matter {
  font-size: 30px;
  padding: 5%;
  width: 90%;
  margin-right: 100px;
}
.form-container {
  width: 40%;
  background: var(--cb);
  padding: 0px 50px;
  box-shadow: 0px 10px 20px black;
}
input {
  border-style: none;
  background: var(--cb);
  width: 100%;
  height: 30px;
  border-bottom: 2px solid gray;
}
textarea {
  outline: none;
  border: none;
}
button[type="submit"] {
  width: 20%;
  margin: 5px;
  background: var(--gree);
}
input:focus {
  outline: none;
}
input:hover,
textarea:hover {
  border-bottom: 2px solid var(--gree);
}
/* Grid */
.pro-grid {
  width: 100%;
  height: 100vh;
}
.image-gallary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3px;
  justify-content: center;
  margin: auto;
  padding: 0 70px;
}
.image-gallary div {
  height: 300px;
  width: 300px;
}
div.item0 {
  background-image: url("../pictures/outputmessenger_chatroom.png");
  background-repeat: no-repeat;
  object-fit: cover;
}
div.item2 {
  background-image: url("../pictures/App\ Screen\ Shot.png");
  background-repeat: no-repeat;
}
div.item1 {
  background-image: url("../pictures/main-image@2x.jpg");
  background-repeat: no-repeat;
}

div.imgg .m,
.to-git {
  visibility: hidden;
}
.m {
  font-size: 10px;
}
.imgg:hover .m {
  background: rgba(234, 240, 231, 0.719);
  visibility: visible;
  font-size: 30px;
  color: #0e0d0d;
  text-align: center;
}
